.project {
    width: 100%;
    display: flex;
    flex-direction: column;



    &__box-container {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    &__box {
        &--1 {
            margin: 100px 0px 100px 0px;
        }

        &--2 {

            display: grid;
            grid-template-columns: repeat(4, 250px);
            grid-gap: 25px;

            @media only screen and (max-width: 1200px) {
                grid-template-columns: repeat(2, 275px);
            }

            @media only screen and (max-width: 700px) {
                grid-template-columns: repeat(2, 275px);
            }
            @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 275px);
            }
            @media only screen and (max-width: 420px) {
                grid-template-columns: repeat(1, 235px);
            }
        }
    }

    &__status {
        font-family: "Integral";
        font-size: 70px;
        color: rgba(255, 217, 217);
        text-align: center;
        text-shadow: 1px 1px 2px black;
        @media only screen and (max-width: 600px) {
            font-size: 50px;
        }

    }

    &__card {
        height: 250px;
        padding: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.9);


        &--card1 {
            text-align: center;
        }

        &--card2 {}

        &--card3 {}

        &--card4 {}
    }

    &__title {
        font-family: "Integral";
        color: rgba(84, 76, 236);
    }

    &__description {}

    &__screen {
        width: 350px;
        height: 250px;
        border-radius: 5%;
    }

    &__button {
        background-color: #cea0a0;
        letter-spacing: 0;
        font-family: "Integral";
        color: black;
        padding: 5px;

        &:hover,
        &:active {
            letter-spacing: 3px;
        }

        &:after,
        &:before {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 1px solid rgba(#fff, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover:after,
        &:hover:before {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-color: #fff;
            transition: width 350ms ease-in-out;
            width: 100%;
        }

        &:hover:before {
            bottom: auto;
            top: 0;
            width: 100%;


        }
    }
}