.project {
    width: 100%;
    display: flex;
    flex-direction: column;


    &__status {
        text-align: center;
    }

    &__box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__box {
        display: flex;


        &--2 {
            height: 800px;
            display: grid;
            grid-template-columns: repeat(4, 400px);
            grid-gap: 50px;
            align-items: center;
        }
    }

    &__status {
        font-family: "Integral";
        font-size: 70px;
        color: #cea0a0;


    }

    &__card {
        height: 400px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.5);

        &--card1 {
            background-image: url("../../UI/Image/moviedbScreen.png");
            background-size: cover;
        }

        &--card2 {
            background-image: url("../../UI/Image/moviedbScreen.png");
            background-size: cover;
        }

        &--card3 {
            background-image: url("../../UI/Image/moviedbScreen.png");
            background-size: cover;
        }

        &--card4 {
            background-image: url("../../UI/Image/moviedbScreen.png");
            background-size: cover;
        }
    }

    &__title {
        font-family: "Integral";
        color: rgba(84, 76, 236)
    }

    &__description {
        font-family: "Futura";
        text-align: center;
        color: #D6D6E7;
    }

    &__screen {
        width: 250px;
        height: 150px;
        border-radius: 5%;
    }

    &__button {
        background-color: #cea0a0;
        letter-spacing: 0;
        font-family: "Integral";
        color: black;
        padding: 5px;

        &:hover,
        &:active {
            letter-spacing: 3px;
        }

        &:after,
        &:before {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 1px solid rgba(#fff, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover:after,
        &:hover:before {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-color: #fff;
            transition: width 350ms ease-in-out;
            width: 100%;
        }

        &:hover:before {
            bottom: auto;
            top: 0;
            width: 100%;


        }
    }
}