.project {


  &__box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    &--1 {
      display: flex;
      justify-content: flex-start;
      margin-top: 120px;
    }

    &--2 {
      width: 100%;
    }
  }

  &__line {
    width: 920px;
    border: 1px solid #cea0a0;
    margin-left: 10px;

    @media only screen and (max-width: 1700px) {
      width: 820px;
    }

    @media only screen and (max-width: 1600px) {
      width: 720px;
    }

    @media only screen and (max-width: 1500px) {
      width: 520px;
    }

    @media only screen and (max-width: 1400px) {
      width: 420px;
    }

    @media only screen and (max-width: 600px) {
      width: 350px;
    }

    @media only screen and (max-width: 500px) {
      width: 260px;
    }
  }

  &__status {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: "Integral";
    font-size: 30px;
    color: black;
    text-shadow: 2px 1px 2px grey;

    @media only screen and (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: 600px) {
      font-size: 25px;
      margin-bottom: 50px;
    }

    @media only screen and (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 1100px) {
      margin-bottom: 20px;
    }


    @media only screen and (max-width: 720px) {
      flex-direction: column;
      
    }

    &--card1 {
      justify-content: center;
      align-items: center;
    }

    &--card2 {
      justify-content: center;
      align-items: center;
    }

    &--card3 {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-family: "Integral";
    color: rgba(84, 76, 236);
    margin-top: 0;

    @media only screen and (max-width: 1200px) {
      font-size: 30px;
    }

    @media only screen and (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &__span {
    color: black;
  }

  &__featured {
    font-family: "Orbitron";
    color: #cea0a0;
    font-size: 15px;
    margin-bottom: 0px;

    @media only screen and (max-width: 1200px) {
      font-size: 14px;
    }

    @media only screen and (max-width: 1100px) {
      font-size: 12px;
    }
  }

  &__presentation {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 720px) {
      justify-content: center;
    }
  }

  &__container-description {
    width: 600px;
    height: 400px;
    z-index: 1;

    @media only screen and (max-width: 1420px) {
      width: 400px;
    }

    @media only screen and (max-width: 1320px) {
      width: 300px;
    }

    @media only screen and (max-width: 1200px) {
      width: 250px;
      font-size: 20px;
    }

    @media only screen and (max-width: 1100px) {
      height: 500px;
    }

    @media only screen and (max-width: 900px) {
      width: 200px;
      height: auto;
    }
    @media only screen and (max-width: 720px) {
      width: auto;
      height: auto;
    }
  }

  &__container-img {
    display: flex;
    align-items: flex-end;
    height: 90px;

    @media only screen and (max-width: 1200px) {
      height: 80px;
    }

    @media only screen and (max-width: 1100px) {
      height: 70px;
    }
  }

  &__social-icon {
    width: auto;

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  &__start {
    height: 100px;

    @media only screen and (max-width: 720px) {
      height: 80px;
    }
  }

  &__container-screen {
    width: 500px;
    height: 500px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 1100px) {
      width: 300px;
    }

    @media only screen and (max-width: 720px) {
   
      height: 300px;
    }
  }

  &__description {
    width: 650px;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(84, 76, 236, 0.5);
    border-radius: 1em;
    padding: 20px;
    color: white;

    @media only screen and (max-width: 1420px) {
      width: 550px;
      font-size: 20px;
    }

    @media only screen and (max-width: 1200px) {
      width: 350px;
      font-size: 20px;
    }

    @media only screen and (max-width: 1100px) {
      background-color: rgba(84, 76, 236, 0.7);
     
    }

    @media only screen and (max-width: 900px) {
      width: 350px;
      font-size: 17px;
    }

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    @media only screen and (max-width: 1300px) {
      flex-direction: column;
    }
  
    @media only screen and (max-width: 720px) {
      margin: 0;
      align-items: center;
      flex-direction: column;
     
    }
  }

  &__items {
    list-style: none;
    margin: 0px 10px 0px 0px;
    font-family: "Orbitron";
    font-size: 17px;

    @media only screen and (max-width: 1420px) {
      font-size: 15px;
    
    }

    &:hover {
      color: #cea0a0;
    }
  }

  &__social-img {
    width: 30px;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: rgb(0, 0, 0, 0.1);
    }
  }

  &__icon {
    width: 50px;
  }

  &__screen {
    width: 500px;
    height: 350px;
    border-radius: 50px;
    -webkit-filter: blur(2px);
    filter: blur(3px);

    @media only screen and (max-width: 1420px) {
      width: 450px;
    }

    @media only screen and (max-width: 1200px) {
      width: 350px;
    }
    @media only screen and (max-width: 1100px) {
      height: 300px;
      width: 400px;
    }

    @media only screen and (max-width: 900px) {
      width: 250px;
    }
    @media only screen and (max-width: 720px) {
      width: 300px;
      height: 250px;
    }

    &:hover {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      animation: bounce2 5s ease infinite;
    
      @keyframes bounce2 {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-30px);
        }

        60% {
          transform: translateY(-15px);
        }
      }
    }
  }
}
