.villa {
    &__link {
        font-size: 20px;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        display: inline-block;
        padding-bottom: 5px;
    }

    &__link-text {
        margin-bottom: 0px;
        color: rgba(206, 160, 160);
        font-size: 16px;
        font-weight: bold;


        &:hover,
        &:active,
        &:focus {
            color: rgba(206, 160, 160);
        }
    }
}