.project-wrapper {

  height: 230vh;


  @media only screen and (max-width: 1200px) {
    height: 230vh;
  }

  @media only screen and (max-width: 900px) {
  
    height: 310vh;
  }

  @media only screen and (max-width: 800px) {
  
    height: 300vh;
  }
  @media only screen and (max-width: 720px) {
  
    height: 290vh;
  }
@media only screen and (max-width: 1280px) and (max-height: 800px) {
    height: 280vh;
  }
  @media only screen and (max-width: 1030px) and (max-height: 600px) {
    height: 360vh;
  }
  @media only screen and (max-width: 912px) and (max-height: 1370px) {
    height: 160vh;
  }
@media only screen and (max-width: 912px) and (max-height: 975px) {
    height: 230vh;
  }
  @media only screen and (max-width: 900px) and (max-height: 975px) {
    height: 300vh;
  }
  

  @media only screen and (max-width: 820px) and (max-height: 1190px) {
    height: 250vh;
  }
  @media only screen and (max-width: 820px) and (max-height: 975px) {
    height: 300vh;
  }

  @media only screen and (max-width: 770px) and (max-height: 1030px) {
    height: 290vh;
  }
  @media only screen and (max-width: 540px) and (max-height: 720px) {
    height: 390vh;
  }
  @media only screen and (max-width: 420px) and (max-height: 900px) {
    height: 390vh;
  }

  @media only screen and (max-width: 415px) and (max-height: 920px) {
    height: 310vh;
  }

  @media only screen and (max-width: 395px) and (max-height: 900px) {
    height: 330vh;
  }

  @media only screen and (max-width: 375px) and (max-height: 670px) {
    height: 420vh;
  }

  @media only screen and (max-width: 360px) and (max-height: 740px) {
    height: 380vh;
  }

}
