.back-wrapper {
    padding: 90px;
    background-color: #1d1d20;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
        padding: 0px;
    }

    @media screen and (max-width: 480px) {
        padding: 0px;
    }




}