.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 65px;

    @media only screen and (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: 1300px) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 620px) {
     width: 250px;
    }
    &--1 {
      width: 600px;
      @media only screen and (max-width: 620px) {
        width: 250px;
       }
    }

    &--2 {
      width: 600px;
      @media only screen and (max-width: 620px) {
        width: 250px;
       }
    }
    @media only screen and (max-width: 620px) {
      width: 300px;
     }
    &--3 {
     
      margin-top: 60px;
    }
  }

  &__img {
    width: 150px;
  }

  &__box-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  &__icon-social {
    width: 45px;
    height: 45px;
    margin: 5px;
    animation: gelatine 5s infinite;
    animation-timing-function: linear;

    @media only screen and (max-width: 500px) {
      width: 35px;
      height: 35px;
    }

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.9, 1.1);
      }

      50% {
        transform: scale(1.1, 0.9);
      }

      75% {
        transform: scale(0.95, 1.05);
      }
    }
  }

  &__button {
    border-radius: 50px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: black;
    border: 1px solid white;
    animation: gelatine 5s infinite;
    animation-timing-function: linear;

    @media only screen and (max-width: 500px) {
      margin-top: 5px;
      height: 35px;
    }

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.9, 1);
      }

      50% {
        transform: scale(1, 0.9);
      }

      75% {
        transform: scale(0.95, 1.05);
      }
    }
  }

  &__resume {
    font-family: "Orbitron";
    text-decoration: none;

    color: white;

    &:active {
      color: white;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    @media only screen and (max-width: 1300px) {
      align-items: center;
    }
  }

  &__container-icon {
    display: flex;
    flex-direction: row;
    width: 350px;
    @media only screen and (max-width: 450px) {
      width: 250px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__span {
    color: black;
    font-size: 20px;
  }

  &__line {
    border: 1px dashed rgba(206, 160, 160);

    &--history {
      width: 80px;
      margin-left: 10px;
      @media only screen and (max-width: 1300px) {
        width: 250px;
        margin-left: 0px;
      }
    }

    &--skills {
      width: 80px;
      margin-left: 10px;
      @media only screen and (max-width: 1300px) {
        width: 150px;
        margin-left: 0px;
      }
    }

    &--education {
      width: 80px;
      margin-left: 10px;
      @media only screen and (max-width: 1300px) {
        width: 200px;
        margin-left: 0px;
      }
    }

    &--details {
      width: 80px;
      margin-left: 10px;
      @media only screen and (max-width: 1300px) {
        width: 280px;
        margin-left: 0;
      }
    }
  }

  &__span1 {
    font-size: 25px;
  }

  &__line-title {
    width: 1220px;
    border: 1px solid #cea0a0;
    margin-left: 10px;

    @media only screen and (max-width: 1750px) {
      width: 1050px;
    }

    @media only screen and (max-width: 1550px) {
      width: 950px;
    }
    @media only screen and (max-width: 1450px) {
      width: 850px;
    }
    @media only screen and (max-width: 1350px) {
      width: 750px;
    }
    @media only screen and (max-width: 1300px) {
      display: none;
    }
  }

  &__title {
    font-family: "Integral";
    color: rgba(89, 40, 229);
    font-size: 30px;
    @media only screen and (max-width: 400px) {
      font-size: 28px;
    }

    &--about {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      font-family: "Integral";
      font-size: 40px;
      color: black;
      text-shadow: 2px 1px 2px grey;
      @media only screen and (max-width: 1300px) {
        font-size: 50px;
      }
    }

    &--history {
      display: flex;
      align-items: baseline;
      color: rgba(89, 40, 229);
      @media only screen and (max-width: 1300px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &--fromto {
      color: #cea0a0;
      margin: 0;
      font-size: 20px;
      font-family: "Orbitron";
      @media only screen and (max-width: 1300px) {
        text-align: center;
        margin-bottom: 15px;
      }
      @media only screen and (max-width: 650px) {
        font-size: 16px;
      }
    }

    &--education {
      display: flex;
      align-items: baseline;

      @media only screen and (max-width: 1300px) {
        align-items: center;
        flex-direction: column;
      }
    }

    &--skills {
      display: flex;
      align-items: baseline;
      @media only screen and (max-width: 1300px) {
        align-items: center;
        flex-direction: column;
      }
    }

    &--details {
      display: flex;
      align-items: baseline;
      @media only screen and (max-width: 1300px) {
        align-items: center;
        flex-direction: column;
      }
    }

    &--stages {
      text-align: center;
      margin-bottom: 75px;
      @media only screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__education {
    @media only screen and (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__skills {
    @media only screen and (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__img-res {
    animation: pulse 5s infinite ease-in-out alternate;

    @keyframes pulse {
      from {
        transform: scale(0.8);
      }

      to {
        transform: scale(1.2);
      }
    }
  }

  &__icon-timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  &__icon2 {
    width: 25px;
    height: 25px;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  &__description {
    width: 400px;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 18px;
    @media only screen and (max-width: 1300px) {
      text-align: justify;
    }

    @media only screen and (max-width: 650px) {
      font-size: 16px;
      width: 400px;
    }

    &--history {
      line-height: 30px;

      @media only screen and (max-width: 600px) {
        line-height: 25px;
        text-align: justify;
      }

      @media only screen and (max-width: 600px) {
        width: 300px;
      }
      @media only screen and (max-width: 450px) {
        width: 250px;
        letter-spacing: -1px;
      }
    }

    &--skills {
      width: 350px;
      line-height: 30px;

      @media only screen and (max-width: 650px) {
        width: 270px;
        letter-spacing: -0.5px;
      }
    }

    &--education {
      line-height: 30px;
      @media only screen and (max-width: 1300px) {
        width: 350px;
      }
      @media only screen and (max-width: 650px) {
        width: 350px;
      }
      @media only screen and (max-width: 650px) {
        width: 270px;
        letter-spacing: -1px;
      }
    }
  }
}
