@font-face {
    font-family: "Futura";
    src: local("Futura"), url(../../UI/Fonts/Futura-Bold-font.ttf) format('truetype');
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../UI/Image/right-chevron.png");
    background-repeat: no-repeat;
    background-position: 28% 58%;
    background-size: 5%;
    

    &__triangle {

        &--1 {
            display: inline-block;
            height: 0;
            width: 0;
            border-top: 57px solid transparent;
            border-bottom: 57px solid transparent;
            border-left: 80px solid #5928e5;
        }

        &--2 {
            display: inline-block;
            height: 0;
            width: 0;
            border-top: 57px solid transparent;
            border-right: 80px solid #5928e5;
            border-bottom: 57px solid transparent;
        }
    }

    &__box {

        &--1 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

        &--2 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
        }
    }

    &__timeline {
        width: 50%;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 400px;
        padding: 10px;
        border-radius: 4%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        text-align: center;


        &--history {
            width: 30%;
            height: 450px;
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__title {
        color: #cea0a0;
        font-family: "Integral";
        letter-spacing: -1px;
        margin-top: 0;
        text-align: center;

        &--history {
            font-size: 50px;

        }

        &--education {
            font-size: 20px;
        }

        &--hobbies {
            font-size: 20px;
        }

        &--skills {
            font-size: 20px;
        }
    }

    &__parkour {
        font-size: 90px;
    }

    &__description {
        color: rgba(29, 29, 29, 255);
        font-size: 17px;
        font-family: "futura";
        color: #F5F6FB;

        &--history {
            font-size: 19px;
            text-align: justify;

        }

        &--education {
            list-style: none;
            line-height: 20px;
        }
    }
}