$white: white;

.form {
  font-family: "Integral";
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box-element {
    width: 84%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      height: 800px;
    }
  }

  &__box-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;

    @media only screen and (max-width: 1400px) {
      margin-top: 90px;
    }
  }

  &__box-description {
    width: 600px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 700px) {
      width: 300px;
    }
    
  }

  &__box-container {
    width: 400px;

    @media only screen and (max-width: 1400px) {
      width: 300px;
    }
  }

  &__message {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;

    @media only screen and (max-width: 1500px) {
      font-size: 27px;
      width: 90%;
    }

    @media only screen and (max-width: 1400px) {
      text-align: center;
      font-size: 25px;
      width: 70%;
    }

    @media only screen and (max-width: 900px) {
      width: 600px;
    }
    @media only screen and (max-width: 800px) {
      font-size: 22px;
      width: 400px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 20px;
      width: 300px;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: "Integral";
    font-size: 30px;
    color: black;
    text-shadow: 2px 1px 2px grey;

    @media only screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }


  &__span {
    font-size: 25px;
  }

  &__line-title {
    width: 1000px;
    border: 1px solid #cea0a0;
    margin-left: 10px;

    @media only screen and (max-width: 1600px) {
      width: 900px;
    }

    @media only screen and (max-width: 1500px) {
      width: 800px;
    }

    @media only screen and (max-width: 1400px) {
      width: 600px;
    }

    @media only screen and (max-width: 1200px) {
      width: 400px;
    }

    @media only screen and (max-width: 1100px) {
      width: 300px;
    }
  }

  &__text {
    font-family: "Integral";
    font-size: 10px;
    letter-spacing: 1px;
    color: black;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 900px) {
      margin: 5px;
    }
 
  }

  &__container-contact {
    @media only screen and (max-width: 1400px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: 900px) {
      display: flex;
    }
  }

  &__details {
    @media only screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__box-icon {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (max-width: 1400px) {
      display: flex;
   
    }

    @media only screen and (max-width: 900px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    margin-bottom: 5px;
    width: 30px;
    padding: 5px;
    border-radius: 25%;

    &:hover {
      background-color: rgba(84, 76, 236, 0.5);
    }
  }

  &__astro {
    width: 100px;
  }

  &__sent {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: rgba(84, 76, 236);
  }

  &__label {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    color: rgba(84, 76, 236, 0.6);

    @media only screen and (max-width: 900px) {
      text-align: center;
    }
  }

  &__input-box {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 300px;
    height: 20px;
    padding: 1em;
    margin-bottom: 2em;
    font-family: "Orbitron";
    border-radius: 5px;
    font-size: 15px;

    @media only screen and (max-width: 1400px) {
      width: 200px;
    }
  }

  &__subject {
    width: 400px;
    height: 150px;
    padding: 1em;
    margin-bottom: 2em;
    font-family: "Orbitron";
    border-radius: 5px;
    font-size: 15px;

    @media only screen and (max-width: 1500px) {
      width: 300px;
    }

    @media only screen and (max-width: 1400px) {
      width: 200px;
    }

    @media only screen and (max-width: 900px) {
      height: 20px;
    }
  }

  &__sphere {
    display: flex;
  }

  &__button {
    background-color:  rgba(255, 217, 217, 0.7);
    letter-spacing: 0;
    font-family: "Integral";
    border: 1px solid black;
    padding: 5px;
    color: black;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      letter-spacing: 3px;
    }
  }

  &__circle-box {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1400px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__shoot {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__circle {
    margin-left: -15px;
    width: 50px;
    height: 50px;
    background-color: #cea0a0;
    border-radius: 50%;

    &--1 {
      background-color: rgb(0, 0, 0, 0.5);
      z-index: 3;

      animation: bounce2 3s ease infinite;
      animation-delay: 0.4s;

      @keyframes bounce2 {

        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-30px);
        }

        60% {
          transform: translateY(-15px);
        }
      }
    }

    &--2 {
      background-color: rgba(84, 76, 236, 0.5);
      z-index: 2;

      animation: bounce2 3s ease infinite;
      animation-delay: 0.2s;

      @keyframes bounce2 {

        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-30px);
        }

        60% {
          transform: translateY(-15px);
        }
      }
    }

    &--3 {
      background-color: rgb(204, 164, 168, 0.5);
      z-index: 1;

      animation: bounce2 3s ease infinite;
      animation-delay: 0.1s;

      @keyframes bounce2 {

        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-30px);
        }

        60% {
          transform: translateY(-15px);
        }
      }
    }
  }

  &__sign {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__flag {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  &__astro {
    width: 65px;
    margin-left: 50px;
  }

  &__container {
    @media only screen and (max-width: 900px) {
      margin-top: -150px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}