$white: white;

.form {
    font-family: "Integral";
    display: flex;
    flex-direction: column;
   


    &__container {
        &--1 {
            width: 100%;
            border-radius: 20px;
            background: transparent;
            text-align: center;
        }


        &--2 {
            width: 30%;
            text-align: center;
           
        }
    }

    &__title {
        color: white;

        &--1 {
            font-size: 70px;
            color: #cea0a0;
            margin-bottom: 150px;
            text-align: center;
        }

        &--2 {
            font-size: 35px;
            text-align: center;

            animation: pulse 3s infinite ease-in-out alternate;

            @keyframes pulse {
                from {
                    transform: scale(0.6);
                }

                to {
                    transform: scale(0.8);
                }
            }

        }

        &--3 {
            font-size: 20px;
            color: #cea0a0;
            margin-bottom: 50px;

        }
    }

    &__form-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__input-box {
        display: flex;
        flex-direction: column;

    }

    &__label {
        color: $white;
        font-size: 15px;
        margin-bottom: 10px;
    }


    &__input {
        width: 300px;
        padding: 1em;
        margin-bottom: 2em;
        font-family: "Futura";
        border-radius: 5px;
    }

    &__button {

        align-items: center;
        appearance: none;
        background-color: #D6D6E7;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-flex;
        font-family: "Integral";
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        -webkit-user-select: none;
        user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 15px;


        &:focus {
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }

        &:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }
    }

    &__icon {
        width: 50px;
        animation: hinge 5s ease 10;
    }


    @keyframes hinge {
        0% {

            transform: rotate(0);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        20%,
        60% {

            transform: rotate(5deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        40% {

            transform: rotate(-5deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        80% {
            transform: translateY(0px);
            opacity: 1;
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        100% {

            transform: rotate(20deg) translateY(-600px);
            opacity: 0;
        }
    }

    &__location {
        font-size: 15px;
        color: rgba(89, 40, 229, 255);
        letter-spacing: 3px;
        margin-top: 50px;

    }

    &__planet {
        width: 40%;
    }

    &__sent{
        color: #5928e5;
        text-align: center;
        font-size: 15px;
        font-family: "Orbitron";
    }

}