@font-face {
    font-family: "Futura";
    src: local("Futura"), url(../../UI/Fonts/Futura-Bold-font.ttf) format('truetype');
}

.timeline {
    z-index: 0;
    &__beginner {
        position: relative;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: minmax(500px, auto-fill);
        grid-auto-flow: dense;
        gap: 10px 10px;

        @media screen and (max-width:1091px) {
            grid-template-columns: repeat(50%, minmax(300px, 1fr));
            grid-template-rows: minmax(auto, auto);
        }

    }

    &__wrap {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #5928e5;
        
        

        &--bx1 {
            grid-column: span 2;
            grid-row: span 1;


            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx2 {
            grid-column: span 2;
            grid-row: span 1;
            justify-content: flex-start;



            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }

        }

        &--bx3 {
            grid-column: span 1;
            grid-row: span 1;



            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }

        }

        &--bx4 {
            grid-column: span 2;
            grid-row: span 2;

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx5 {
            grid-column: span 3;
            grid-row: span 2;




            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx6 {
            grid-column: span 5;
            grid-row: span 1;




            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }
    }

    &__date {
        font-family: "Integral";
        font-size: 15px;
        letter-spacing: 1px;
        width: 100%;
        color: rgba(29, 29, 29, 255);
        color: black;
    }



    &__description {
        width: 100%;
        font-size: 16px;
        font-family: "Futura";
        color: white;
       

        &--k {
            text-align: center;
        }
    }

    &__logo {
        width: 17px;
        height: 17px;
        margin-left: 2px;
    }

    &__first {
   padding: 10px;

        &--fcc {
            width: 90%;
        }

        &--it {
            width: 90%;
        }

        &--intern {
            width: 90%;
        }

        &--i {
            width: 80%;
        }

        &--j {
            width: 80%;
        }

        &--k {
            width: 80%;
            text-align: center;
        }
    }

    &__icon {
        display: flex;
        width: 100%;
        margin-top: 5px;


        &--1 {
            justify-content: start;
        }

        &--1b {
            justify-content: center;
            border-bottom: 1px solid black;
        }

        &--2 {
            justify-self: baseline;
        }

        &--2b {
            justify-content: flex-end;
            border-bottom: 1px solid black;

        }

        &--3 {
            justify-content: space-around;
            border-bottom: 1px solid black;

        }

        &--4 {
            justify-content: center;
            border-bottom: 1px solid black;

        }

        &--5 {
            justify-content: space-between;
            border-bottom: 1px solid black;

        }

        &--6 {
            border-bottom: 1px solid black;
            justify-content: space-around;
        }
    }

    &__man {
        width: 45px;
        height: 45px;
    }



}