@font-face {
    font-family: "Futura";
    src: local("Futura"), url(../../UI/Fonts/Futura-Bold-font.ttf) format('truetype');
}

.timeline {
    margin-top: 10px;


    &__beginner {
        position: relative;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: minmax(500px, auto-fill);
        grid-auto-flow: dense;
        gap: 10px 5px;

        @media screen and (max-width:1091px) {
            grid-template-columns: repeat(50%, minmax(300px, 1fr));
            grid-template-rows: minmax(auto, auto);
        }

    }

    &__wrap {
        border-radius: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: white 0px 2px 2px;
        background-color: #F5F6FB;

        &--bx1 {
            grid-column: span 1;
            grid-row: span 1;


            &:hover {
                background-color: rgba(84, 76, 236, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx2 {
            grid-column: span 2;
            grid-row: span 1;
            justify-content: flex-start;


            &:hover {
                background-color: rgba(84, 76, 236, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }

        }

        &--bx3 {
            grid-column: span 2;
            grid-row: span 1;


            &:hover {
                background-color: rgba(84, 76, 236, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }

        }

        &--bx4 {
            grid-column: span 2;
            grid-row: span 2;


            &:hover {
                background-color: rgba(255, 220, 214, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx5 {
            grid-column: span 3;
            grid-row: span 2;


            &:hover {
                background-color: rgba(255, 220, 214, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }

        &--bx6 {
            grid-column: span 6;
            grid-row: span 1;


            &:hover {
                background-color: rgba(38, 185, 154, 255);
            }

            @media screen and (max-width:1091px) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
        }
    }

    &__date {
        font-family: "Integral";
        font-size: 15px;
        letter-spacing: 1px;
        width: 100%;
        color: rgba(29, 29, 29, 255);
    }



    &__description {
        width: 100%;
        font-size: 17px;
        font-family: "Futura";
        text-align: justify;
        color: rgba(29, 29, 29, 255);

        &--k {
            text-align: center;
        }
    }

    &__logo {
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }

    &__first {
        padding: 10px;

        &--fcc {
            width: 90%;
        }

        &--it {
            width: 80%;
        }

        &--intern {
            width: 80%;
        }

        &--i {
            width: 80%;
        }

        &--j {
            width: 80%;
        }

        &--k {
            width: 80%;
            text-align: center;
        }
    }

    &__icon {
        display: flex;
        width: 100%;
        margin-top: 10px;


        &--1 {
            justify-content: start;
        }

        &--1b {
            justify-content: center;
            border-bottom: 1px solid black;
        }

        &--2 {
            justify-self: baseline;
        }

        &--2b {
            justify-content: flex-end;
            border-bottom: 1px solid black;

        }

        &--3 {
            justify-content: space-around;
            border-bottom: 1px solid black;

        }

        &--4 {
            justify-content: space-between;
            border-bottom: 1px solid black;

        }

        &--5 {
            justify-content: space-between;
            border-bottom: 1px solid black;

        }

        &--6 {
            border-bottom: 1px solid black;
            justify-content: space-around;
        }
    }

    &__man {
        width: 20px;
        height: 20px;
    }



}