body, html {
    margin: 0px;
    background: rgba(29, 29, 29, 255);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;

}


.app {
    margin-right: 200px;
    margin-left: 200px;
  
}